DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres"
JWT_SECRET="sua_chave_secreta_aqui_mude_isso_em_producao"
RAWG_API_KEY="sua_chave_rawg_aqui"
PORT=3000
